body {
  margin: 0;
  padding: 0;
  background-color: #072637;
  font-family: "Arial", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: #ffffff;
}

#titleContainer {
  font-size: 50px;
  font-weight: 700;
  background-color: #288996;
  width: fit-content;
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

#navButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

#navButtons > a {
  text-decoration: none;
}

#navButtons > a > button {
  font-size: 24px;
  font-weight: 600;
  background-color: #288996;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navButtons > a > button:hover {
  background-color: #36a3b0;
  transform: translateY(-5px);
}

#navButtons > a > button:active {
  transform: translateY(-2px);
}

#titleContainer h1 {
  margin: 0;
}
